@import "tailwindcss";

@theme {
    --color-primaryYellow: #FFC72C;
    --color-primaryRed: #DA291C;
    --color-primaryBlack: #27251F;
  
    --font-proxima: "Proxima Nova";
    --font-poppins: "Poppins";
    --font-playwrite: "Playwrite NG Modern", cursive;
    --font-croissant: "Croissant One", serif;
  }
  body {
    box-sizing: border-box;
  }
  
  /* *{
    outline: 1px solid green;
  } */