@import "tailwindcss";

@theme {
    --color-primaryYellow: #FFC72C;
    --color-primaryRed: #DA291C;
    --color-primaryBlack: #27251F;
  
    --font-proxima: "Proxima Nova";
    --font-poppins: "Poppins";
  }
  